{
  "swagger" : "2.0",
  "info" : {
    "description" : "An OpenAPI for EVE Online",
    "version" : "0.2.5",
    "title" : "EVE Swagger Interface"
  },
  "host" : "esi.tech.ccp.is",
  "basePath" : "/latest",
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/alliances/" : {
      "get" : {
        "tags" : [ "Live", "Alliance" ],
        "summary" : "List all alliances",
        "description" : "List all active player alliances\n\n---\n\nAlternate route: `/v1/alliances/`\n\nAlternate route: `/legacy/alliances/`\n\nAlternate route: `/dev/alliances/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances",
        "parameters" : [ {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "List of Alliance IDs",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_alliances_ok",
              "items" : {
                "type" : "integer",
                "format" : "int32",
                "description" : "200 ok integer",
                "title" : "get_alliances_200_ok",
                "minimum" : 0.0
              }
            },
            "examples" : {
              "application/json" : [ 99000001, 99000002 ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/alliances/names/" : {
      "get" : {
        "tags" : [ "Live", "Alliance" ],
        "summary" : "Get alliance names",
        "description" : "Resolve a set of alliance IDs to alliance names\n\n---\n\nAlternate route: `/v1/alliances/names/`\n\nAlternate route: `/legacy/alliances/names/`\n\nAlternate route: `/dev/alliances/names/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances_names",
        "parameters" : [ {
          "name" : "alliance_ids",
          "in" : "query",
          "description" : "A comma separated list of alliance IDs",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          },
          "collectionFormat" : "multi",
          "minItems" : 1
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "List of id/name associations",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_alliances_names_ok",
              "items" : {
                "$ref" : "#/definitions/get_alliances_names_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "alliance_id" : 1000171,
                "alliance_name" : "Republic University"
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_names_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/alliances/{alliance_id}/" : {
      "get" : {
        "tags" : [ "Live", "Alliance" ],
        "summary" : "Get alliance information",
        "description" : "Public information about an alliance\n\n---\n\nAlternate route: `/v2/alliances/{alliance_id}/`\n\nAlternate route: `/dev/alliances/{alliance_id}/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances_alliance_id",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An Eve alliance ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Public data about an alliance",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_ok"
            },
            "examples" : {
              "application/json" : {
                "alliance_name" : "C C P Alliance",
                "date_founded" : "2016-06-26T21:00:00Z",
                "executor_corp" : 98356193,
                "ticker" : "<C C P>"
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "404" : {
            "description" : "Alliance not found",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_not_found"
            },
            "examples" : {
              "application/json" : {
                "error" : "Alliance not found"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/alliances/{alliance_id}/corporations/" : {
      "get" : {
        "tags" : [ "Live", "Alliance" ],
        "summary" : "List alliance's corporations",
        "description" : "List all current member corporations of an alliance\n\n---\n\nAlternate route: `/v1/alliances/{alliance_id}/corporations/`\n\nAlternate route: `/legacy/alliances/{alliance_id}/corporations/`\n\nAlternate route: `/dev/alliances/{alliance_id}/corporations/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances_alliance_id_corporations",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "List of corporation IDs",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_alliances_alliance_id_corporations_ok",
              "items" : {
                "type" : "integer",
                "format" : "int32",
                "description" : "200 ok integer",
                "title" : "get_alliances_alliance_id_corporations_200_ok",
                "minimum" : 0.0
              }
            },
            "examples" : {
              "application/json" : [ 98000001 ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_corporations_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/alliances/{alliance_id}/icons/" : {
      "get" : {
        "tags" : [ "Live", "Alliance" ],
        "summary" : "Get alliance icon",
        "description" : "Get the icon urls for a alliance\n\n---\n\nAlternate route: `/v1/alliances/{alliance_id}/icons/`\n\nAlternate route: `/legacy/alliances/{alliance_id}/icons/`\n\nAlternate route: `/dev/alliances/{alliance_id}/icons/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_alliances_alliance_id_icons",
        "parameters" : [ {
          "name" : "alliance_id",
          "in" : "path",
          "description" : "An EVE alliance ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Urls for icons for the given alliance id and server",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_icons_ok"
            },
            "examples" : {
              "application/json" : {
                "px128x128" : "https://imageserver.eveonline.com/Alliance/503818424_128.png",
                "px64x64" : "https://imageserver.eveonline.com/Alliance/503818424_64.png"
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "404" : {
            "description" : "No image server for this datasource",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_icons_not_found"
            },
            "examples" : {
              "application/json" : {
                "error" : "No image server for this datasource"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_alliances_alliance_id_icons_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/characters/names/" : {
      "get" : {
        "tags" : [ "Live", "Character" ],
        "summary" : "Get character names",
        "description" : "Resolve a set of character IDs to character names\n\n---\n\nAlternate route: `/v1/characters/names/`\n\nAlternate route: `/legacy/characters/names/`\n\nAlternate route: `/dev/characters/names/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_names",
        "parameters" : [ {
          "name" : "character_ids",
          "in" : "query",
          "description" : "A comma separated list of character IDs",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          },
          "collectionFormat" : "multi",
          "minItems" : 1
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "List of id/name associations",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_names_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_names_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "character_id" : 95465499,
                "character_name" : "CCP Bartender"
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_names_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/characters/{character_id}/" : {
      "get" : {
        "tags" : [ "Live", "Character" ],
        "summary" : "Get character's public information",
        "description" : "Public information about a character\n\n---\n\nAlternate route: `/v3/characters/{character_id}/`\n\nAlternate route: `/legacy/characters/{character_id}/`\n\nAlternate route: `/dev/characters/{character_id}/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Public data for the given character",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_ok"
            },
            "examples" : {
              "application/json" : {
                "ancestry_id" : 19,
                "birthday" : "2015-03-24T11:37:00Z",
                "bloodline_id" : 3,
                "corporation_id" : 109299958,
                "description" : "",
                "gender" : "male",
                "name" : "CCP Bartender",
                "race_id" : 2
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "422" : {
            "description" : "Is not a character ID",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_unprocessable_entity"
            },
            "examples" : {
              "application/json" : {
                "error" : "98000001 is not a character ID"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/characters/{character_id}/bookmarks/" : {
      "get" : {
        "tags" : [ "Bookmarks", "Live" ],
        "summary" : "List bookmarks",
        "description" : "List your character's personal bookmarks\n\n---\n\nAlternate route: `/v1/characters/{character_id}/bookmarks/`\n\nAlternate route: `/legacy/characters/{character_id}/bookmarks/`\n\nAlternate route: `/dev/characters/{character_id}/bookmarks/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_bookmarks",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of bookmarks",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_bookmarks_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_bookmarks_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "bookmark_id" : 32,
                "create_date" : "2016-08-09T11:57:47Z",
                "creator_id" : 90000001,
                "folder_id" : 5,
                "memo" : "aoeu ( Citadel )",
                "note" : "",
                "owner_id" : 90000001,
                "target" : {
                  "item" : {
                    "item_id" : 1000000012668,
                    "type_id" : 35832
                  },
                  "location_id" : 30000005
                }
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_bookmarks_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-bookmarks.read_character_bookmarks.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_bookmarks_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-bookmarks.read_character_bookmarks.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/bookmarks/folders/" : {
      "get" : {
        "tags" : [ "Bookmarks", "Live" ],
        "summary" : "List bookmark folders",
        "description" : "List your character's personal bookmark folders\n\n---\n\nAlternate route: `/v1/characters/{character_id}/bookmarks/folders/`\n\nAlternate route: `/legacy/characters/{character_id}/bookmarks/folders/`\n\nAlternate route: `/dev/characters/{character_id}/bookmarks/folders/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_bookmarks_folders",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "List of bookmark folders",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_bookmarks_folders_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_bookmarks_folders_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "folder_id" : 5,
                "name" : "Icecream",
                "owner_id" : 90000001
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_bookmarks_folders_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-bookmarks.read_character_bookmarks.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_bookmarks_folders_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-bookmarks.read_character_bookmarks.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/calendar/" : {
      "get" : {
        "tags" : [ "Live", "Calendar" ],
        "summary" : "List calendar event summaries",
        "description" : "Get 50 event summaries from the calendar. If no event ID is given,\nthe resource will return the next 50 chronological event summaries\nfrom now. If an event ID is specified, it will return the next 50\nchronological event summaries from after that event.\n\n\n---\n\nAlternate route: `/v1/characters/{character_id}/calendar/`\n\nAlternate route: `/legacy/characters/{character_id}/calendar/`\n\nAlternate route: `/dev/characters/{character_id}/calendar/`\n\n\n---\n\nThis route is cached for up to 5 seconds",
        "operationId" : "get_characters_character_id_calendar",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "The character to retrieve events from",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "from_event",
          "in" : "query",
          "description" : "The event ID to retrieve events from",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "A collection of event summaries",
            "schema" : {
              "type" : "array",
              "description" : "Up to 50 events from now or the event you requested\n",
              "title" : "get_characters_character_id_calendar_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_calendar_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "event_date" : "2016-06-26T20:00:00Z",
                "event_id" : 1386435,
                "event_response" : "accepted",
                "importance" : 0,
                "title" : "o7 The EVE Online Show"
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_calendar_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-calendar.read_calendar_events.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_calendar_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-calendar.read_calendar_events.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/calendar/{event_id}/" : {
      "get" : {
        "tags" : [ "Live", "Calendar" ],
        "summary" : "Get an event",
        "description" : "Get all the information for a specific event\n\n---\n\nAlternate route: `/v3/characters/{character_id}/calendar/{event_id}/`\n\nAlternate route: `/dev/characters/{character_id}/calendar/{event_id}/`\n\n\n---\n\nThis route is cached for up to 5 seconds",
        "operationId" : "get_characters_character_id_calendar_event_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "The character id requesting the event",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "The id of the event requested",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Full details of a specific event",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_calendar_event_id_ok"
            },
            "examples" : {
              "application/json" : {
                "date" : "2016-06-26T21:00:00Z",
                "duration" : 60,
                "event_id" : 1386435,
                "importance" : 1,
                "owner_id" : 1,
                "owner_name" : "EVE System",
                "owner_type" : "eve_server",
                "response" : "Undecided",
                "text" : "o7: The EVE Online Show features latest developer news, fast paced action, community overviews and a lot more with CCP Guard and CCP Mimic. Join the thrilling o7 live broadcast at 20:00 EVE time (=UTC) on <a href=\"http://www.twitch.tv/ccp\">EVE TV</a>. Don't miss it!",
                "title" : "o7 The EVE Online Show"
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_calendar_event_id_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-calendar.read_calendar_events.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_calendar_event_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-calendar.read_calendar_events.v1" ]
        } ]
      },
      "put" : {
        "tags" : [ "Live", "Calendar" ],
        "summary" : "Respond to an event",
        "description" : "Set your response status to an event\n\n---\n\nAlternate route: `/v3/characters/{character_id}/calendar/{event_id}/`\n\nAlternate route: `/dev/characters/{character_id}/calendar/{event_id}/`\n",
        "operationId" : "put_characters_character_id_calendar_event_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "The character ID requesting the event",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "The ID of the event requested",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "response",
          "description" : "The response value to set, overriding current value.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/put_characters_character_id_calendar_event_id_response"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Event updated"
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/put_characters_character_id_calendar_event_id_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-calendar.respond_calendar_events.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/put_characters_character_id_calendar_event_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-calendar.respond_calendar_events.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/clones/" : {
      "get" : {
        "tags" : [ "Live", "Clones" ],
        "summary" : "Get clones",
        "description" : "A list of the character's clones\n\n---\n\nAlternate route: `/v2/characters/{character_id}/clones/`\n\nAlternate route: `/dev/characters/{character_id}/clones/`\n\n\n---\n\nThis route is cached for up to 120 seconds",
        "operationId" : "get_characters_character_id_clones",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Clone information for the given character",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_clones_ok"
            },
            "examples" : {
              "application/json" : {
                "home_location" : {
                  "location_id" : 1021348135816,
                  "location_type" : "structure"
                },
                "jump_clones" : [ {
                  "implants" : [ 22118 ],
                  "location_id" : 60003463,
                  "location_type" : "station"
                }, {
                  "implants" : [ ],
                  "location_id" : 1021348135816,
                  "location_type" : "structure"
                } ]
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_clones_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-clones.read_clones.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_clones_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-clones.read_clones.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/corporationhistory/" : {
      "get" : {
        "tags" : [ "Live", "Character" ],
        "summary" : "Get corporation history",
        "description" : "Get a list of all the corporations a character has been a member of\n\n---\n\nAlternate route: `/v1/characters/{character_id}/corporationhistory/`\n\nAlternate route: `/legacy/characters/{character_id}/corporationhistory/`\n\nAlternate route: `/dev/characters/{character_id}/corporationhistory/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_corporationhistory",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Corporation history for the given character",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_corporationhistory_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_corporationhistory_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "corporation_id" : 90000001,
                "is_deleted" : false,
                "record_id" : 500,
                "start_date" : "2016-06-26T20:00:00Z"
              }, {
                "corporation_id" : 90000002,
                "is_deleted" : false,
                "record_id" : 501,
                "start_date" : "2016-07-26T20:00:00Z"
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_corporationhistory_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/characters/{character_id}/cspa/" : {
      "post" : {
        "tags" : [ "Live", "Character" ],
        "summary" : "Calculate a CSPA charge cost",
        "description" : "Takes a source character ID in the url and a set of target character ID's in the body, returns a CSPA charge cost\n\n---\n\nAlternate route: `/v3/characters/{character_id}/cspa/`\n\nAlternate route: `/legacy/characters/{character_id}/cspa/`\n\nAlternate route: `/dev/characters/{character_id}/cspa/`\n",
        "operationId" : "post_characters_character_id_cspa",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "characters",
          "description" : "The target characters to calculate the charge for",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/post_characters_character_id_cspa_characters"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Aggregate cost of sending a mail from the source character to the target characters, in ISK hundredths",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_cspa_created"
            },
            "examples" : {
              "application/json" : {
                "cost" : 295000
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_cspa_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-characters.read_contacts.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_cspa_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-characters.read_contacts.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/killmails/recent/" : {
      "get" : {
        "tags" : [ "Killmails", "Live" ],
        "summary" : "List kills and losses",
        "description" : "Return a list of character's recent kills and losses\n\n---\n\nAlternate route: `/v1/characters/{character_id}/killmails/recent/`\n\nAlternate route: `/legacy/characters/{character_id}/killmails/recent/`\n\nAlternate route: `/dev/characters/{character_id}/killmails/recent/`\n\n\n---\n\nThis route is cached for up to 120 seconds",
        "operationId" : "get_characters_character_id_killmails_recent",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "max_count",
          "in" : "query",
          "description" : "How many killmails to return at maximum",
          "required" : false,
          "type" : "integer",
          "default" : 50,
          "maximum" : 5000.0,
          "format" : "int32"
        }, {
          "name" : "max_kill_id",
          "in" : "query",
          "description" : "Only return killmails with ID smaller than this.\n",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of killmail IDs and hashes",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_killmails_recent_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_killmails_recent_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "killmail_hash" : "8eef5e8fb6b88fe3407c489df33822b2e3b57a5e",
                "killmail_id" : 2
              }, {
                "killmail_hash" : "b41ccb498ece33d64019f64c0db392aa3aa701fb",
                "killmail_id" : 1
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_killmails_recent_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-killmails.read_killmails.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_killmails_recent_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-killmails.read_killmails.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/location/" : {
      "get" : {
        "tags" : [ "Location", "Live" ],
        "summary" : "Get character location",
        "description" : "Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable.\n\n---\n\nAlternate route: `/v1/characters/{character_id}/location/`\n\nAlternate route: `/legacy/characters/{character_id}/location/`\n\nAlternate route: `/dev/characters/{character_id}/location/`\n\n\n---\n\nThis route is cached for up to 5 seconds",
        "operationId" : "get_characters_character_id_location",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable.",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_location_ok"
            },
            "examples" : {
              "application/json" : {
                "solar_system_id" : 30002505,
                "structure_id" : 1000000016989
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_location_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-location.read_location.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_location_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-location.read_location.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/mail/" : {
      "get" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Return mail headers",
        "description" : "Return the 50 most recent mail headers belonging to the character that match the query criteria. Queries can be filtered by label, and last_mail_id can be used to paginate backwards.\n\n---\n\nAlternate route: `/v1/characters/{character_id}/mail/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/`\n\nAlternate route: `/dev/characters/{character_id}/mail/`\n\n\n---\n\nThis route is cached for up to 30 seconds",
        "operationId" : "get_characters_character_id_mail",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "labels",
          "in" : "query",
          "description" : "Fetch only mails that match one or more of the given labels",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int64",
            "minimum" : 0.0
          },
          "collectionFormat" : "multi",
          "minItems" : 1,
          "uniqueItems" : true
        }, {
          "name" : "last_mail_id",
          "in" : "query",
          "description" : "List only mail with an ID lower than the given ID, if present",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "The requested mail",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_mail_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_mail_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "from" : 90000001,
                "is_read" : true,
                "labels" : [ 3 ],
                "mail_id" : 7,
                "recipients" : [ {
                  "recipient_id" : 90000002,
                  "recipient_type" : "character"
                } ],
                "subject" : "Title for EVE Mail",
                "timestamp" : "2015-09-30T16:07:00Z"
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.read_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.read_mail.v1" ]
        } ]
      },
      "post" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Send a new mail",
        "description" : "Create and send a new mail\n\n---\n\nAlternate route: `/v1/characters/{character_id}/mail/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/`\n\nAlternate route: `/dev/characters/{character_id}/mail/`\n",
        "operationId" : "post_characters_character_id_mail",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "The sender's character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "mail",
          "description" : "The mail to send",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/post_characters_character_id_mail_mail"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Mail created",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Mail ID",
              "title" : "post_characters_character_id_mail_created"
            },
            "examples" : {
              "application/json" : 13
            }
          },
          "400" : {
            "description" : "Only one corporation, alliance, or mailing list can be the\nrecipient of a mail\n",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_mail_bad_request"
            },
            "examples" : {
              "application/json" : {
                "error" : "Bad request message"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_mail_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.send_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_mail_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.send_mail.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/mail/labels/" : {
      "get" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Get mail labels and unread counts",
        "description" : "Return a list of the users mail labels, unread counts for each label and a total unread count.\n\n---\n\nAlternate route: `/v3/characters/{character_id}/mail/labels/`\n\nAlternate route: `/dev/characters/{character_id}/mail/labels/`\n\n\n---\n\nThis route is cached for up to 30 seconds",
        "operationId" : "get_characters_character_id_mail_labels",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of mail labels and unread counts",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_labels_ok"
            },
            "examples" : {
              "application/json" : {
                "labels" : [ {
                  "color_hex" : "#660066",
                  "label_id" : 16,
                  "name" : "PINK",
                  "unread_count" : 4
                }, {
                  "color_hex" : "#ffffff",
                  "label_id" : 17,
                  "name" : "WHITE",
                  "unread_count" : 1
                } ],
                "total_unread_count" : 5
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_labels_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.read_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_labels_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.read_mail.v1" ]
        } ]
      },
      "post" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Create a mail label",
        "description" : "Create a mail label\n\n---\n\nAlternate route: `/v2/characters/{character_id}/mail/labels/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/labels/`\n\nAlternate route: `/dev/characters/{character_id}/mail/labels/`\n",
        "operationId" : "post_characters_character_id_mail_labels",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "label",
          "description" : "Label to create",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/post_characters_character_id_mail_labels_label"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Label created",
            "schema" : {
              "type" : "integer",
              "format" : "int64",
              "description" : "Label ID",
              "title" : "post_characters_character_id_mail_labels_created"
            },
            "examples" : {
              "application/json" : 128
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_mail_labels_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.organize_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/post_characters_character_id_mail_labels_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.organize_mail.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/mail/lists/" : {
      "get" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Return mailing list subscriptions",
        "description" : "Return all mailing lists that the character is subscribed to\n\n\n---\n\nAlternate route: `/v1/characters/{character_id}/mail/lists/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/lists/`\n\nAlternate route: `/dev/characters/{character_id}/mail/lists/`\n\n\n---\n\nThis route is cached for up to 120 seconds",
        "operationId" : "get_characters_character_id_mail_lists",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Mailing lists",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_mail_lists_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_mail_lists_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "mailing_list_id" : 1
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_lists_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.read_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_lists_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.read_mail.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/mail/{mail_id}/" : {
      "get" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Return a mail",
        "description" : "Return the contents of an EVE mail\n\n---\n\nAlternate route: `/v1/characters/{character_id}/mail/{mail_id}/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/{mail_id}/`\n\nAlternate route: `/dev/characters/{character_id}/mail/{mail_id}/`\n\n\n---\n\nThis route is cached for up to 30 seconds",
        "operationId" : "get_characters_character_id_mail_mail_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "mail_id",
          "in" : "path",
          "description" : "An EVE mail ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Contents of a mail",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_mail_id_ok"
            },
            "examples" : {
              "application/json" : {
                "body" : "blah blah blah",
                "from" : 90000001,
                "is_read" : false,
                "labels" : [ 2, 32 ],
                "subject" : "test",
                "timestamp" : "2015-09-30T16:07:00Z"
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_mail_id_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.read_mail.v1"
              }
            }
          },
          "404" : {
            "description" : "Mail not found",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_mail_id_not_found"
            },
            "examples" : {
              "application/json" : {
                "error" : "Not found message"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_mail_mail_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.read_mail.v1" ]
        } ]
      },
      "put" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Update metadata about a mail",
        "description" : "Update metadata about a mail\n\n---\n\nAlternate route: `/v1/characters/{character_id}/mail/{mail_id}/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/{mail_id}/`\n\nAlternate route: `/dev/characters/{character_id}/mail/{mail_id}/`\n",
        "operationId" : "put_characters_character_id_mail_mail_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "mail_id",
          "in" : "path",
          "description" : "An EVE mail ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "contents",
          "description" : "Data used to update the mail",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/put_characters_character_id_mail_mail_id_contents"
          }
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Mail updated"
          },
          "400" : {
            "description" : "Invalid label ID; or No parameters in body -- nothing to do",
            "schema" : {
              "$ref" : "#/definitions/put_characters_character_id_mail_mail_id_bad_request"
            },
            "examples" : {
              "application/json" : {
                "error" : "Bad request message"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/put_characters_character_id_mail_mail_id_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.organize_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/put_characters_character_id_mail_mail_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.organize_mail.v1" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Live", "Mail" ],
        "summary" : "Delete a mail",
        "description" : "Delete a mail\n\n---\n\nAlternate route: `/v1/characters/{character_id}/mail/{mail_id}/`\n\nAlternate route: `/legacy/characters/{character_id}/mail/{mail_id}/`\n\nAlternate route: `/dev/characters/{character_id}/mail/{mail_id}/`\n",
        "operationId" : "delete_characters_character_id_mail_mail_id",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "mail_id",
          "in" : "path",
          "description" : "An EVE mail ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Mail deleted"
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/delete_characters_character_id_mail_mail_id_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-mail.organize_mail.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/delete_characters_character_id_mail_mail_id_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-mail.organize_mail.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/portrait/" : {
      "get" : {
        "tags" : [ "Live", "Character" ],
        "summary" : "Get character portraits",
        "description" : "Get portrait urls for a character\n\n---\n\nAlternate route: `/v2/characters/{character_id}/portrait/`\n\nAlternate route: `/dev/characters/{character_id}/portrait/`\n\n\n---\n\nThis route is cached for up to 3600 seconds",
        "operationId" : "get_characters_character_id_portrait",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Public data for the given character",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_portrait_ok"
            },
            "examples" : {
              "application/json" : {
                "px128x128" : "https://imageserver.eveonline.com/Character/95465499_128.jpg",
                "px256x256" : "https://imageserver.eveonline.com/Character/95465499_256.jpg",
                "px512x512" : "https://imageserver.eveonline.com/Character/95465499_512.jpg",
                "px64x64" : "https://imageserver.eveonline.com/Character/95465499_64.jpg"
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "404" : {
            "description" : "No image server for this datasource",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_portrait_not_found"
            },
            "examples" : {
              "application/json" : {
                "error" : "No image server for this datasource"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_portrait_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        }
      }
    },
    "/characters/{character_id}/search/" : {
      "get" : {
        "tags" : [ "Live", "Search" ],
        "summary" : "Search on a string",
        "description" : "Search for entities that match a given sub-string.\n\n---\n\nAlternate route: `/v2/characters/{character_id}/search/`\n\nAlternate route: `/dev/characters/{character_id}/search/`\n",
        "operationId" : "get_characters_character_id_search",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "The string to search on",
          "required" : true,
          "type" : "string",
          "minLength" : 3
        }, {
          "name" : "categories",
          "in" : "query",
          "description" : "Type of entities to search for",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "agent", "alliance", "character", "constellation", "corporation", "faction", "inventorytype", "region", "solarsystem", "station", "structure", "wormhole" ]
          },
          "collectionFormat" : "multi",
          "minItems" : 1,
          "uniqueItems" : true
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Search locale",
          "required" : false,
          "type" : "string",
          "default" : "en-us",
          "enum" : [ "en-us", "de", "fr", "ru", "ja", "zh" ]
        }, {
          "name" : "strict",
          "in" : "query",
          "description" : "Whether the search should be a strict match",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of search results",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_search_ok"
            },
            "examples" : {
              "application/json" : {
                "solarsystem" : [ 30002510 ],
                "station" : [ 60004588, 60004594, 60005725, 60009106, 60012721, 60012724, 60012727 ]
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_search_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-search.search_structures.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_search_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-search.search_structures.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/ship/" : {
      "get" : {
        "tags" : [ "Location", "Live" ],
        "summary" : "Get current ship",
        "description" : "Get the current ship type, name and id\n\n---\n\nAlternate route: `/v1/characters/{character_id}/ship/`\n\nAlternate route: `/legacy/characters/{character_id}/ship/`\n\nAlternate route: `/dev/characters/{character_id}/ship/`\n\n\n---\n\nThis route is cached for up to 5 seconds",
        "operationId" : "get_characters_character_id_ship",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the current ship type, name and id",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_ship_ok"
            },
            "examples" : {
              "application/json" : {
                "ship_item_id" : 1000000016991,
                "ship_name" : "SPACESHIPS!!!",
                "ship_type_id" : 1233
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_ship_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-location.read_ship_type.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_ship_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-location.read_ship_type.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/skillqueue/" : {
      "get" : {
        "tags" : [ "Live", "Skills" ],
        "summary" : "Get character's skill queue",
        "description" : "List the configured skill queue for the given character\n\n---\n\nAlternate route: `/v2/characters/{character_id}/skillqueue/`\n\nAlternate route: `/legacy/characters/{character_id}/skillqueue/`\n\nAlternate route: `/dev/characters/{character_id}/skillqueue/`\n\n\n---\n\nThis route is cached for up to 120 seconds",
        "operationId" : "get_characters_character_id_skillqueue",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "Character id of the target character",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "The current skill queue, sorted ascending by finishing time",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_skillqueue_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_skillqueue_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "finish_date" : "2016-06-29T10:47:00Z",
                "finished_level" : 3,
                "queue_position" : 0,
                "skill_id" : 1,
                "start_date" : "2016-06-29T10:46:00Z"
              }, {
                "finish_date" : "2016-07-15T10:47:00Z",
                "finished_level" : 4,
                "queue_position" : 1,
                "skill_id" : 1,
                "start_date" : "2016-06-29T10:47:00Z"
              }, {
                "finish_date" : "2016-08-30T10:47:00Z",
                "finished_level" : 2,
                "queue_position" : 2,
                "skill_id" : 2,
                "start_date" : "2016-07-15T10:47:00Z"
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_skillqueue_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-skills.read_skillqueue.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_skillqueue_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-skills.read_skillqueue.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/skills/" : {
      "get" : {
        "tags" : [ "Live", "Skills" ],
        "summary" : "Get character skills",
        "description" : "List all trained skills for the given character\n\n---\n\nAlternate route: `/v3/characters/{character_id}/skills/`\n\nAlternate route: `/dev/characters/{character_id}/skills/`\n\n\n---\n\nThis route is cached for up to 120 seconds",
        "operationId" : "get_characters_character_id_skills",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Known skills for the character",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_skills_ok"
            },
            "examples" : {
              "application/json" : {
                "skills" : [ {
                  "current_skill_level" : 1,
                  "skill_id" : 1,
                  "skillpoints_in_skill" : 10000
                }, {
                  "current_skill_level" : 1,
                  "skill_id" : 2,
                  "skillpoints_in_skill" : 10000
                } ],
                "total_sp" : 20000
              }
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_skills_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-skills.read_skills.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_skills_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-skills.read_skills.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/wallets/" : {
      "get" : {
        "tags" : [ "Live", "Wallet" ],
        "summary" : "List wallets and balances",
        "description" : "List your wallets and their balances. Characters typically have only one wallet, with wallet_id 1000 being the master wallet.\n\n---\n\nAlternate route: `/v1/characters/{character_id}/wallets/`\n\nAlternate route: `/legacy/characters/{character_id}/wallets/`\n\nAlternate route: `/dev/characters/{character_id}/wallets/`\n\n\n---\n\nThis route is cached for up to 120 seconds",
        "operationId" : "get_characters_character_id_wallets",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Wallet data for selected user",
            "schema" : {
              "type" : "array",
              "description" : "200 ok array",
              "title" : "get_characters_character_id_wallets_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_wallets_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "balance" : 295000,
                "wallet_id" : 1000
              } ]
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string",
                "description" : "The caching mechanism used"
              },
              "Expires" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              },
              "Last-Modified" : {
                "type" : "string",
                "description" : "RFC7231 formatted datetime string"
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_wallets_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-wallet.read_character_wallet.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_wallets_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-wallet.read_character_wallet.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/wallets/journal/" : {
      "get" : {
        "tags" : [ "Wallet", "Dummy" ],
        "summary" : "Get character wallet journal",
        "description" : "Returns the most recent 50 entries for the characters wallet journal. Optionally, takes an argument with a reference ID, and returns the prior 50 entries from the journal.\n\n---\n\nAlternate route: `/v1/characters/{character_id}/wallets/journal/`\n\nAlternate route: `/legacy/characters/{character_id}/wallets/journal/`\n\nAlternate route: `/dev/characters/{character_id}/wallets/journal/`\n",
        "operationId" : "get_characters_character_id_wallets_journal",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "last_seen_id",
          "in" : "query",
          "description" : "A journal reference ID to paginate from",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Journal entries",
            "schema" : {
              "type" : "array",
              "description" : "wallet transactions",
              "title" : "get_characters_character_id_wallets_journal_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_wallets_journal_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "ref_id" : 1234567890,
                "ref_type" : "foo",
                "transaction_date" : "2016-10-24T09:00:00Z"
              } ]
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_wallets_journal_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-wallet.read_character_wallet.v1"
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_wallets_journal_internal_server_error"
            },
            "examples" : {
              "application/json" : {
                "error" : "uncaught exception: IOError('out of memory')"
              }
            }
          }
        },
        "security" : [ {
          "evesso" : [ "esi-wallet.read_character_wallet.v1" ]
        } ]
      }
    },
    "/characters/{character_id}/wallets/transactions/" : {
      "get" : {
        "tags" : [ "Wallet", "Dummy" ],
        "summary" : "Get wallet transactions",
        "description" : "Gets the 50 most recent transactions in a characters wallet. Optionally, takes an argument with a transaction ID, and returns the prior 50 transactions\n\n---\n\nAlternate route: `/v1/characters/{character_id}/wallets/transactions/`\n\nAlternate route: `/legacy/characters/{character_id}/wallets/transactions/`\n\nAlternate route: `/dev/characters/{character_id}/wallets/transactions/`\n",
        "operationId" : "get_characters_character_id_wallets_transactions",
        "parameters" : [ {
          "name" : "character_id",
          "in" : "path",
          "description" : "An EVE character ID",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasource",
          "in" : "query",
          "description" : "The server name you would like data from",
          "required" : false,
          "type" : "string",
          "default" : "tranquility",
          "enum" : [ "tranquility", "singularity" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Wallet transactions",
            "schema" : {
              "type" : "array",
              "description" : "wallet transactions",
              "title" : "get_characters_character_id_wallets_transactions_ok",
              "items" : {
                "$ref" : "#/definitions/get_characters_character_id_wallets_transactions_200_ok"
              }
            },
            "examples" : {
              "application/json" : [ {
                "transaction_date" : "2016-10-24T09:00:00Z",
                "transaction_id" : 1234567890
              } ]
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/get_characters_character_id_wallets_transactions_forbidden"
            },
            "examples" : {
              "application/json" : {
                "error" : "Token is not valid for scope(s): esi-wallet.read_character_wallet.v1"
[...]
